inventory/hosts
inventory/group_vars/ubuntu
/netplan/u148.00-installer-config.yaml
/netplan/u147.00-installer-config.yaml
/netplan/u146.00-installer-config.yaml
/netplan/u145.00-installer-config.yaml
/netplan/u144.00-installer-config.yaml
/netplan/u143.00-installer-config.yaml
/netplan/u142.00-installer-config.yaml
/netplan/u141.00-installer-config.yaml
/netplan/u140.00-installer-config.yaml
/netplan/u139.00-installer-config.yaml
/netplan/u138.00-installer-config.yaml
/netplan/u137.00-installer-config.yaml
/netplan/u136.00-installer-config.yaml
/netplan/u135.00-installer-config.yaml
/netplan/u134.00-installer-config.yaml
/netplan/u133.00-installer-config.yaml
/netplan/u132.00-installer-config.yaml
/netplan/u131.00-installer-config.yaml
/netplan/u130.00-installer-config.yaml
/netplan/u129.00-installer-config.yaml
/netplan/u128.00-installer-config.yaml
/netplan/u127.00-installer-config.yaml
/netplan/u126.00-installer-config.yaml
/netplan/u125.00-installer-config.yaml
/netplan/u124.00-installer-config.yaml
/netplan/u123.00-installer-config.yaml
/netplan/u122.00-installer-config.yaml
/netplan/u121.00-installer-config.yaml
/netplan/u120.00-installer-config.yaml
/netplan/u119.00-installer-config.yaml
/netplan/u118.00-installer-config.yaml
/netplan/u117.00-installer-config.yaml
/netplan/u116.00-installer-config.yaml
/netplan/u115.00-installer-config.yaml
/netplan/u114.00-installer-config.yaml
/netplan/u113.00-installer-config.yaml
/netplan/u112.00-installer-config.yaml
/netplan/u111.00-installer-config.yaml
/netplan/u110.00-installer-config.yaml
/netplan/u109.00-installer-config.yaml
/netplan/u108.00-installer-config.yaml
/netplan/u107.00-installer-config.yaml
/netplan/u106.00-installer-config.yaml
/netplan/u105.00-installer-config.yaml
/netplan/u104.00-installer-config.yaml
/netplan/u103.00-installer-config.yaml
/netplan/u102.00-installer-config.yaml
/netplan/u101.00-installer-config.yaml
/authorized_keys/u148-autorized_keys.txt
/authorized_keys/u147-autorized_keys.txt
/authorized_keys/u146-autorized_keys.txt
/authorized_keys/u145-autorized_keys.txt
/authorized_keys/u144-autorized_keys.txt
/authorized_keys/u143-autorized_keys.txt
/authorized_keys/u142-autorized_keys.txt
/authorized_keys/u141-autorized_keys.txt
/authorized_keys/u140-autorized_keys.txt
/authorized_keys/u139-autorized_keys.txt
/authorized_keys/u138-autorized_keys.txt
/authorized_keys/u137-autorized_keys.txt
/authorized_keys/u136-autorized_keys.txt
/authorized_keys/u135-autorized_keys.txt
/authorized_keys/u134-autorized_keys.txt
/authorized_keys/u133-autorized_keys.txt
/authorized_keys/u132-autorized_keys.txt
/authorized_keys/u131-autorized_keys.txt
/authorized_keys/u130-autorized_keys.txt
/authorized_keys/u129-autorized_keys.txt
/authorized_keys/u128-autorized_keys.txt
/authorized_keys/u127-autorized_keys.txt
/authorized_keys/u126-autorized_keys.txt
/authorized_keys/u125-autorized_keys.txt
/authorized_keys/u124-autorized_keys.txt
/authorized_keys/u123-autorized_keys.txt
/authorized_keys/u122-autorized_keys.txt
/authorized_keys/u121-autorized_keys.txt
/authorized_keys/u119-autorized_keys.txt
/authorized_keys/u117-autorized_keys.txt
/authorized_keys/u116-autorized_keys.txt
/authorized_keys/u115-autorized_keys.txt
/authorized_keys/u114-autorized_keys.txt
/authorized_keys/u113-autorized_keys.txt
/authorized_keys/u112-autorized_keys.txt
/authorized_keys/u111-autorized_keys.txt
/authorized_keys/u110-autorized_keys.txt
/authorized_keys/u109-autorized_keys.txt
/authorized_keys/u108-autorized_keys.txt
/authorized_keys/u107-autorized_keys.txt
/authorized_keys/u106-autorized_keys.txt
/authorized_keys/u105-autorized_keys.txt
/authorized_keys/u104-autorized_keys.txt
/authorized_keys/u103-autorized_keys.txt
/authorized_keys/u102-authorized_keys.txt
/authorized_keys/u101-authorized_keys.txt
/authorized_keys/fix.sh
/authorized_keys/authorized_keys
/old
